


/* GENERAL */

*{
  box-sizing: border-box;
}

body{
  position: relative;


}


  /* TOP */
  nav{
 padding-bottom: 0 !important;
 padding-top: 0 !important;
 transition: background-color .3s;
  }
  .navbar-brand{
    font-weight:300;
    transition: color .3s;
  }

  .icon-fa{
    cursor: pointer;
  }

  .translate{
    -webkit-animation-name: translate;
    -webkit-animation-duration: 4s;
  }
  @-webkit-keyframes translate{
    from {transform: translateX(0)}
    to {transform: translateX(100%)}
  }
.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/background.jpg');
  height: 350px;
  background-size: cover;
  background-position: center;
  /* padding: 5%; */
 }

.caption{
  color: white;

}

/* BODY */

.main-container{
  width: 70%;
  padding: 20px;
  margin: 10% auto;
  background: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: thin;
  }
  .input-group{
    width: 35% !important;
    margin-top: 12% !important;
  }

.btn{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
  .dashboard{
  background-color: white;
  height: fit-content;
  width: 60%;
  padding: 20px;
 }

.img-container{
  height: fit-content;
  width: fit-content;
  position: relative;
 }

 .fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
 }

 @-webkit-keyframes fade{
   from {opacity: .4}
   to {opacity: 1}
 }
  /* SELECTS */
 select{
  width: 100%;
  border-radius: 5%;
  padding: 2%;
}

select:focus{
  outline-color: #252525;
  border-color: #252525;
  border-width: thin;
  border-style: outset;
}


  .main-section{
    margin-top: 5%;
    margin-bottom: 10%;
    z-index: 800;
    position: relative
  }

  .fail-side-bar{
    position:absolute;
    height: 70%;
    width: 100%;
    right: -100%;
    transition: right .4s ease-out;
    border-radius: 2%;
    color: white;
    padding: 3%;
  }

  .fail-div-parent{
    overflow:hidden;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100px;

  }

  .picture_frame_style{
    width: 20%;
    height: 50%;
    background-color: white;
    margin: 0 auto !important;
    display: none;
  }


  /* FOOTER */

  footer{
    color: white;
    background-color: #252525;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  h6{
    font-size: large;
  }

  /* SLIDESHOW */

 .prev{
   width: 20px;
   height: 20px;
   cursor: pointer;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   border-width: thick;
   transform: rotate(135deg);
   opacity: 0.6;
 }

 .next{
   width: 20px;
   height: 20px;
   cursor: pointer;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   border-width: thick;
   transform: rotate(-45deg);
    opacity: 0.6;
 }

 .slide-show-button .next, .slide-show-button .prev{
   position: absolute;
   top: 50%;


 }
 .slide-show-button .next{
    right: 5%;
 }



 .slide-show-button .prev{
   left: 5%;
 }

 .slide-show-button :hover{
   background-color: rgba(0,0,0,0.8) !important;

 }

 .cart-box{
   height: 40%;
   width: 20%;
   background-color: white;
   position: fixed;
   right: 3%;
   top: 8%;
   padding: 2%;
   display: none;
   overflow: scroll;
   z-index: 900;
 }

 ::-webkit-scrollbar-thumb{
   border-radius: 25px;
   background-color: black;
 }

 h5{
   opacity: 0.5;

 }
